{% extends 'base.html.twig' %}

{% block title %}Enclos index{% endblock %}

{% block body %}
    <h1>Enclos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Superficie</th>
                <th>CapaciteMax</th>
                <th>EnQuarantaine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enclo in enclos %}
            <tr>
                <td>{{ enclo.id }}</td>
                <td>{{ enclo.nom }}</td>
                <td>{{ enclo.superficie }}</td>
                <td>{{ enclo.capaciteMax }}</td>
                <td>{{ enclo.enQuarantaine ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_enclos_show', {'id': enclo.id}) }}">show</a>
                    <a href="{{ path('app_enclos_edit', {'id': enclo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enclos_new') }}">Create new</a>
{% endblock %}
